<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codefei.boot2.sys.mapper.BestvCategoryMapper">
    <resultMap id="BaseResultMap" type="com.codefei.boot2.sys.entity.BestvCategory">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="cid" property="cid" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="TINYINT"/>
        <result column="parentCid" property="parentcid" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, cid, name, icon, level, parentCid, status
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from bestv_video_category
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectBestvCategory" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bestv_video_category
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bestv_video_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.codefei.boot2.sys.entity.BestvCategory">
    insert into bestv_video_category (id, cid, name, 
      icon, level, parentCid, 
      status)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{level,jdbcType=TINYINT}, #{parentcid,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT})
  </insert>
    <insert id="insertSelective" parameterType="com.codefei.boot2.sys.entity.BestvCategory">
        insert into bestv_video_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cid != null">
                cid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="parentcid != null">
                parentCid,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="cid != null">
                #{cid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=TINYINT},
            </if>
            <if test="parentcid != null">
                #{parentcid,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.codefei.boot2.sys.entity.BestvCategory">
        update bestv_video_category
        <set>
            <if test="cid != null">
                cid = #{cid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=TINYINT},
            </if>
            <if test="parentcid != null">
                parentCid = #{parentcid,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.codefei.boot2.sys.entity.BestvCategory">
    update bestv_video_category
    set cid = #{cid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      level = #{level,jdbcType=TINYINT},
      parentCid = #{parentcid,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>