<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  hello boot!!!!

  获取后端request数据:<span th:text="${d}">原内容</span>
  <br>
获取后端request数据：[[${d}]] -----11111
  <br>
  获取后端session数据：<span th:text="${session.s}">原内容</span>
  <br>
  获取后端servletContext数据：<span th:text="${#servletContext.getAttribute('sc')}">原内容</span>
  <br>
  获取后端servletContext数据：[[${#servletContext.getAttribute('sc')}]] -----11111
  <br>
</body>
</html>